@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.usr-inpt { position: relative; }
.usr-inpt input { text-indent: 30px;}
.usr-inpt .fa-user, .fa-lock { 
  position: absolute;
  top: 43px;
  left: 10px;
  font-size: 15px;
}

.navbar{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.sign {
  max-width: 400px;
  margin-top: 50px;
}

.box-shadow:hover, .box-shadow:focus {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.16);
}