@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.usr-inpt { position: relative; }
.usr-inpt input { text-indent: 30px;}
.usr-inpt .fa-user, .fa-lock { 
  position: absolute;
  top: 43px;
  left: 10px;
  font-size: 15px;
}