@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

.usr-inpt { position: relative; }
.usr-inpt input { text-indent: 30px;}
.usr-inpt .fa-user, .fa-lock { 
  position: absolute;
  top: 43px;
  left: 10px;
  font-size: 15px;
}

.navbar{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.box-shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16);
}

.sign {
  max-width: 400px;
  margin-top: 50px;
}

.box-shadow:hover, .box-shadow:focus {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.16);
}

button:focus {
  outline: none;
}

/* Used to show the edit buttons on form hover */

.gen-info:hover .fa-user-edit {
  color: green !important;
}

.health-info:hover .fa-user-edit {
  color: green !important;
}

.condition-info:hover .fa-user-edit {
  color: green !important;
}

.med-info:hover .fa-user-edit {
  color: green !important;
}

.contacts-info:hover .fa-user-edit {
  color: green !important;
}

.add:hover .plus {
  color: #499cf5 !important;
}

textarea.desc {
	width:100%;
	box-sizing:border-box;
	direction:rtl;
	display:block;
	max-width:100%;

}
