@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image:url('assets/img/backgroundImage2.jpg');
  background-position: center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  object-fit: cover; */
}
